/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: rgba(146, 104, 26, 0.836);
}
.btn-primary{
    border-radius: 5px;
    background:  rgba(146, 104, 26, 0.836);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-para{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
   font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #292626;
     
}

/* Header related styles */
header{
    background-color: #e0d8e0; 
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}   
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-content{
    max-width: 500px;
}
.profile{
    width: 300px;
    
     
     
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-para{
    font-size: 16px;
    color: #474747;
    margin-bottom: 40px;
}
.btn-primary-banner{
    border-radius: 5px; 
    border: 2px solid rgba(146, 104, 26, 0.836); 
    color:  rgba(146, 104, 26, 0.836);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
    margin-left: 20px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #bdb2aa;
    margin: 130px 0px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
     
}
.about-info{
    text-align: center;
}
/* what i do section */

#whatido-para{
    padding: 30px 150px;
}

/* skills div */
.skills-container{
    display: flex;
    
}